{% block content %}
<section class="border-bottom" id="forms---text-inputs">
    <div class="container">
      <div class="row align-items-start justify-content-between">
        <div class="col-lg-3 mb-4 sticky-lg-top">
          <h4>Forms - Text Inputs</h4>
          <div>
            <p>Size and state variations for text inputs</p>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row mb-4 mb-md-5">
            <div class="col">
              <h6>Input Sizes</h6>
              <div class="row">
                <div class="col-md">
                  <div class="form-group">
                    <input class="form-control form-control-sm" placeholder="Small" type="text" data-kpxc-id="kpxcpw342845639">
                  </div>
                </div>
                <div class="col-md">
                  <div class="form-group">
                    <input class="form-control" placeholder="Standard" type="text" data-kpxc-id="kpxcpw342845640">
                  </div>
                </div>
                <div class="col-md">
                  <div class="form-group">
                    <input class="form-control form-control-lg" placeholder="Large" type="text" data-kpxc-id="kpxcpw342845641">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-4 mb-md-5">
            <div class="col">
              <h6>Textareas</h6>
              <div class="row">
                <div class="col-md">
                  <div class="form-group">
                    <textarea class="form-control form-control-sm" placeholder="Small" rows="5"></textarea>
                  </div>
                </div>
                <div class="col-md">
                  <div class="form-group">
                    <textarea class="form-control" placeholder="Standard" rows="5"></textarea>
                  </div>
                </div>
                <div class="col-md">
                  <div class="form-group">
                    <textarea class="form-control form-control-lg" placeholder="Large" rows="5"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-4 mb-md-5">
            <div class="col">
              <h6>States</h6>
              <div class="row">
                <div class="col-md">
                  <div class="form-group">
                    <input class="form-control" placeholder="Standard" type="text" data-kpxc-id="kpxcpw342845642">
                  </div>
                </div>
                <div class="col-md">
                  <form class="form-group">
                    <input class="form-control is-invalid" placeholder="Invalid input" type="text" data-kpxc-id="kpxcpw342845643">
                  </form>
                </div>
                <div class="col-md">
                  <div class="form-group">
                    <input class="form-control" disabled="disabled" placeholder="Disabled" type="text" data-kpxc-id="kpxcpw342845644">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-4 mb-md-5">
            <div class="col">
              <h6>Labelled Input</h6>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="labelled-input">Label</label>
                    <input class="form-control" id="labelled-input" placeholder="Placeholder" type="text" data-kpxc-id="labelled-input">
                    <small>* Input hint text</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-4 mb-md-5">
            <div class="col">
              <h6>Input Group</h6>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">https://</span>
                      </div>
                      <input class="form-control" placeholder="url" type="text" data-kpxc-id="kpxcpw342845645">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text bg-primary border-primary">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="injected-svg icon icon-sm bg-white" data-src="assets/img/icons/interface/icon-search.svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<path d="M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z" stroke="#2C3038" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
<path d="M21 21L16.65 16.65" stroke="#2C3038" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
</svg>
                        </span>
                      </div>
                      <input class="form-control" placeholder="Search" type="search">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <input class="form-control" placeholder="Name" type="text" data-kpxc-id="kpxcpw342845646">
                      <div class="input-group-append">
                        <span class="input-group-text">@example.com</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                      </div>
                      <input class="form-control" type="text" data-kpxc-id="kpxcpw342845647">
                      <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="border-bottom" id="forms---selectables">
    <div class="container">
      <div class="row align-items-start justify-content-between">
        <div class="col-lg-3 mb-4 sticky-lg-top">
          <h4>Forms - Selectables</h4>
          <div>
            <p>Checkboxes, Radios and Select dropdowns</p>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row mb-4 mb-md-5">
            <div class="col">
              <h6>Checkboxes</h6>
              <div class="d-flex flex-wrap">
                <div class="custom-control custom-checkbox mr-4">
                  <input type="checkbox" class="custom-control-input" id="check-1">
                  <label class="custom-control-label" for="check-1">Unchecked</label>
                </div>
                <div class="custom-control custom-checkbox mr-4">
                  <input type="checkbox" class="custom-control-input" id="check-2" checked="">
                  <label class="custom-control-label" for="check-2">Checked</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-4 mb-md-5">
            <div class="col">
              <h6>Radios</h6>
              <div class="d-flex flex-wrap">
                <div class="custom-control custom-radio mr-4">
                  <input type="radio" id="radio-1" name="radio" class="custom-control-input">
                  <label class="custom-control-label" for="radio-1">Unchecked</label>
                </div>
                <div class="custom-control custom-radio mr-4">
                  <input type="radio" id="radio-2" name="radio" class="custom-control-input" checked="">
                  <label class="custom-control-label" for="radio-2">Checked</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-4 mb-md-5">
            <div class="col">
              <h6>Switches</h6>
              <div class="d-flex flex-wrap">
                <div class="custom-control custom-switch mr-4">
                  <input type="checkbox" class="custom-control-input" id="switch-1">
                  <label class="custom-control-label" for="switch-1">Unchecked</label>
                </div>
                <div class="custom-control custom-switch mr-4">
                  <input type="checkbox" class="custom-control-input" id="switch-2" checked="">
                  <label class="custom-control-label" for="switch-2">Checked</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-4 mb-md-5">
            <div class="col">
              <h6>Select</h6>
              <div class="row">
                <div class="col-md">
                  <div class="form-group">
                    <select class="custom-select custom-select-sm" data-kpxc-id="kpxcpw342845649">
                      <option selected="">Select an option</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                    <img src="assets/img/icons/interface/icon-caret-down.svg" alt="Arrow Down" class="icon icon-sm">
                  </div>
                </div>
                <div class="col-md">
                  <div class="form-group">
                    <select class="custom-select" data-kpxc-id="kpxcpw342845650">
                      <option selected="">Select an option</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                    <img src="assets/img/icons/interface/icon-caret-down.svg" alt="Arrow Down" class="icon icon-sm">
                  </div>
                </div>
                <div class="col-md">
                  <div class="form-group">
                    <select class="custom-select custom-select-lg" data-kpxc-id="kpxcpw342845651">
                      <option selected="">Select an option</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                    <img src="assets/img/icons/interface/icon-caret-down.svg" alt="Arrow Down" class="icon icon-sm">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>