{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-xl-8 col-lg-9 col-md-10">
        <div class="card card-body bg-white justify-content-around">
            <h2>¡Hola!</h2>
            <div class="lead" style="margin-bottom:30px">
                <strong>Hospitalit-e</strong> es una aplicación web para <strong>conectar personas</strong>
            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button id="login-button" type="button" class="btn btn-primary">Iniciar sesión</button>
                <button id="register-button" type="button" class="btn btn-secondary">Registrarse</button>
              </div>
        </div>
    </div>
</div>
{% endblock %}


{% block additional_scripts %}
<script>
document.getElementById("login-button").onclick = function() {
    window.location.href = "/login";
}
document.getElementById("register-button").onclick = function() {
    window.location.href = "/register";
}
</script>
{% endblock %}