{% extends "base.html" %}

{% block content %}
<!--<div class="row section-title justify-content-center text-center">
    <div class="col-md-9 col-lg-8 col-xl-7">
        <h1 class="display-3">Buenas</h1>
        <div class="lead">Something big is coming, be sure to check back soon.</div>
    </div>
</div>-->
<div class="row justify-content-center" id="prompt">
    <div class="col-xl-8 col-lg-9 col-md-10">
        <div class="card card-body bg-white justify-content-around">
            <h2>¡Hola, {{ first_name }}!</h2>
            <div class="lead" style="margin-bottom:30px">
                {{ text }}
            </div>
            <a role="button" class="btn btn-lg btn-primary" id="go">
                <nobr>{{ button_text }}&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></nobr>
            </a>
        </div>
    </div>
</div>
<div class="row justify-content-center" id="loading">
    <div class="col-xl-8 col-lg-9 col-md-10">
        <div class="card card-body bg-white justify-content-around">
            <div class="flex-row flex-wrap"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
            <h5>Buscando...</h5>
            <p>{{ search_text }}</p>
            <p><strong>Por favor, no cierre esta pestaña</strong></p>
        </div>
    </div>
</div>
<div class="row justify-content-center" id="match">
    <div class="col-xl-8 col-lg-9 col-md-10">
        <div class="card card-body text-black justify-content-around">
            
            <h5 class="text-black pb-0 b-0" style="margin-bottom: 5px" id="match-nombre"></h5>
            <p style="font-size:18px; color:#53575e" id="match-location"></p>
            <p style="font-size:18px; color:#53575e" id="match-edad"></p>
            
            <div class="card flex-row flex-wrap justify-content-around" style="border:0px">
                <p></p>
                <ul class="list-unstyled p-0">
                    <li class="my-3">
                      <div class="d-flex align-items-center">
                        <div class="rounded-circle bg-success-alt">
                            <i class="fa fa-skype" style="margin:10px"></i>
                        </div>
                        <p class="mb-0 ml-3" id="match-social-skype"></p>
                      </div>
                    </li>
                    <li class="my-3">
                        <div class="d-flex align-items-center">
                          <div class="rounded-circle bg-success-alt">
                              <i class="fa fa-apple" style="margin:10px"></i>
                          </div>
                          <p class="mb-0 ml-3" id="match-social-facetime"></p>
                        </div>
                      </li>
                  </ul>
                <p></p>
            </div>

            <div class="col text-center">
                <a class="btn btn-primary" style="width: 200px" href="#" role="button" id="match-callurl">Sala de Jitsi Meet</a>
            </div>
            
            <hr/>

            <div class="mr-2 mb-2">
                <a href="#" class="badge badge-info badge-pill" data-toggle="modal" data-target="#rate" id="match-end">Contacto finalizado</a>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block additional_scripts %}
<!-- WebSocket scripts -->
<script>
    $(document).ready(function () {
        showPrompt()
    })
    
    var loc = window.location

    var wsStart = 'ws://'
    if (loc.protocol == 'https:')
        wsStart = 'wss://'
    var endpoint = wsStart + loc.host + loc.pathname
    var socket = new WebSocket(endpoint)
    var on_search = false

    var group = 'unknown'

    socket.onmessage = function (e) {
        console.log('onmessage', e)
        var message = JSON.parse(e['data'])

        switch (message['type']) {
            case "connect":
                group = message['group']
                doConnect()
                break
            case "queued":
                doQueued()
                if (group == "voluntario")
                    checkMatches()
                break
            case "match":
                doMatch(message)
                break
            case "new_no_voluntario":
                checkMatches()
                break
            default:
                console.log(messsage['type'])
                break
        }

    }
    socket.onopen = function (e) {
        console.log("Opened WebSocket:", e)
    }
    socket.onclose = function (e) {
        console.log("onclose", e)
    }
    socket.onerror = function (e) {
        console.log("onerror", e)
    }

    function doConnect() {
        console.log("Conectado como " + group)
    }

    function doQueued() {
        showLoading()
        on_search = true
    }

    function doMatch(message) {
        on_search = false
        data = JSON.parse(message['info'])

        $("#match-nombre").text(data['first_name']+' '+data['second_name'])
        $("#match-edad").text(data['edad']+" años")
        $("#match-location").text(data['localidad']+", "+data['provincia'])
        $("#match-social-skype").text(data['skype'])
        $("#match-social-facetime").text(data['facetime'])
        document.getElementById("match-callurl").href = 'https://meet.jit.si/' + data['uuid']

        showMatch()
    }

    function queue() {

        message = {
            "type": "do_queue"
        }
        socket.send(JSON.stringify(message))
    }

    function checkMatches() {
        if (on_search) {
            message = {
                "type": "check_matches"
            }
            socket.send(JSON.stringify(message))
        }
    }

    document.getElementById("go").onclick = function () {
        queue()
    }

    function showPrompt() {
        $("#prompt").show()
        $("#loading").hide()
        $("#match").hide()
    }

    function showLoading() {
        $("#prompt").hide()
        $("#loading").show()
        $("#match").hide()
    }

    function showMatch() {
        $("#prompt").hide()
        $("#loading").hide()
        $("#match").show()
    }
</script>
{% endblock %}

{% block additional_modals %}
<div class="modal fade" id="rate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"><i
                    class="fa fa-star"></i>&nbsp;&nbsp;&nbsp;Valora tu experiencia</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <p>Por favor, <strong>indica cómo de agradable ha sido tu experiencia</strong> con {{ first_name }}.</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="rate-send">Enviar</button>
        </div>
    </div>
</div>
</div>
{% endblock %}