{% extends 'base.html' %}
{% block title %}Modificar datos{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Modificar datos</h2>
<div class="row justify-content-center" id="prompt">
	<div class="col-xl-8 col-lg-9 col-md-10">
		<div class="card card-body bg-white justify-content-around">
			<form method="POST" class="form-group">
				<h5>Datos personales</h5>
				<div class="form-row">
					<div class="form-group col-md-6 mb-0">
						{{ form.first_name|as_crispy_field }}
					</div>
					<div class="form-group col-md-6 mb-0">
						{{ form.last_name|as_crispy_field }}
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6 mb-0">
						{{ form.localidad|as_crispy_field }}
					</div>
					<div class="form-group col-md-6 mb-0">
						{{ form.provincia|as_crispy_field }}
					</div>
				</div>
				<div class="lead" style="margin-bottom:30px">
					XX
				</div>
				<h5>Datos de contacto</h5>
				<h5 style="margin-bottom:5px;">Cambiar PIN</h5>
				<p>Si deseas cambiar el PIN, modifícalo aquí</p>
				<a role="button" class="btn btn-lg btn-primary" id="go">
					<nobr>Modificar&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></nobr>
				</a>
			</form>
		</div>
	</div>
</div>

<form method="POST" class="form-group">
	{% csrf_token %}
	{{ form|crispy }}
	<hr />
	<button type="submit" class="btn btn-success">Modificar</button>
</form>
{% endblock %}